$bm-blue: #6078FF ;
$bm-green: #12C457 ;
$bm-teal: #36BEDF ;
$bm-purple: #724CE9 ;
$bm-pink: #E477FB ;
$bm-red: #E84C85 ;
$bm-orange: #FF884D ;
$bm-yellow: #FFC148 ;
$bm-canvas: #F7F7FC ; // This is the background of the application

$ui-1: #292940 ; // xxdarkd (Used mostly for extra dark canvas)
$ui-2: #33334F ; // xdark (Used mostly for most fonts)
$ui-3: #7171A6 ; // dark (Used mostly for icons and $light-text)
$ui-4: #B8B8D9 ; // med (Used mostly for input fills like checkboxes and switches)
$ui-fail: #DDDDF9; // Joey didn't know the future so now we have freak'n ddd efn 9
$ui-5: #E6E6FF ; // light (Used mostly for input borders)
$ui-6: #F2F2FF ; // xlight (Used mostly for divider lines)
$ui-7: #FAFAFF ; // xxlight (Used mostly for light ui fills like table rows)
$ui-8: #FCFCFF ; // xxxlight (Used rarely for subtle UI division)
$ui-9: white;
