@charset "UTF-8";

@import
  "./vamp",
  "./vendor";

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}
html,
body {
  min-width: 100vw;
  min-height: 100vh;
}
html {
  font-family: $font-family;
  font-size: 16px;
  word-spacing: 1px;
  text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  font-style: normal;
  font-weight: 500;
  color: $ui-2;
}
body {
  background: $bm-canvas;
  -webkit-perspective: 1000;
  -webkit-backface-visibility: hidden;
  -webkit-transform:translate3d(0,0,0);
}
[v-cloak] {
  display: none;
}
::-webkit-input-placeholder {
  color: $ui-4;
}
::-moz-placeholder {
  color: $ui-4;
}
:-ms-input-placeholder {
  color: $ui-4;
}
:-moz-placeholder {
  color: $ui-4;
}
button,
input,
textarea,
select {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  font-size: 15px;
  font-family: $font-family;
  outline: none;
  border: none;
  background: none;
  color: $ui-2;
  border-radius: 0;
}
button,
input,
textarea {
  padding: 0;
  margin: 0;
}
button,
input[type="text"],
input[type="email"],
input[type="password"],
input[type="tel"],
input[type="number"],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
button,
.button {
  display: inline-flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  cursor: pointer;
  text-align: center;
  vertical-align: middle;
}
input[type="checkbox"],
input[type="radio"] {
  margin: 0;
  font-size: 20px;
}
a {
  text-decoration: none;
  color: $ui-2;
}
strong {
  font-weight: 600;
}
img,
svg {
  display: flex;
  width: 100%;
}